<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bus Pass Registration</title><
<style>
body{
    background-image:url('/images/Rbus.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
}

h1{
	text-align:center;
    color:#003366;
}

form{
    width:700px;
    margin:30px auto;
    background:rgba(255,255,255,0.90);
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}
.form-row{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}

.form-group{
    width:48%;
}

.form-group label{
    display:block;
    margin-bottom:5px;
}

.form-group input,
.form-group select{
    width:100%;
}

label{
    display:inline-block;
    width:180px;
    font-weight:bold;
}

input,
select{
    width:250px;
    height:32px;
    box-sizing:border-box;
}

button{
	text-align:center;
    background-color:#0066cc;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    padding:10px 20px;
    margin-left:185px;
}

button:hover{
    background-color:#004999;
}

a{
    color:red;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

#studentSection{
    margin-left:0;
}
.required{
    color:red;
}
.password-container{
    position:relative;
    display:inline-block;
}

.password-container input{
    width:220px;
    padding-right:35px;
}

.password-container span{
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    user-select:none;
}
</style>
<script>
	function toggleFields() {

	    let userType =
	        document.getElementById("userType").value;

	    let studentSection =
	        document.getElementById("studentSection");

	    let institutionName =
	        document.querySelector("[name='institutionName']");

	    let classLevel =
	        document.querySelector("[name='classLevel']");

	    if(userType === "Student") {

	        studentSection.style.display = "block";

	        institutionName.required = true;
	        classLevel.required = true;

	    } else {

	        studentSection.style.display = "none";

	        institutionName.required = false;
	        classLevel.required = false;
	    }
	}

	window.onload = function() {
	    toggleFields();
	};
function togglePreviousPass() {

    let type =
        document.getElementById(
            "applicationType").value;

    let section =
        document.getElementById(
            "previousPassSection");

    if(type === "Renewal") {

        section.style.display = "block";

    } else {

        section.style.display = "none";
    }
}
	function calculateAge() {

    let dob =
        document.getElementById("dob").value;

    if(dob === "") return;

    let birthDate = new Date(dob);
    let today = new Date();

    let age =
        today.getFullYear() -
        birthDate.getFullYear();

    let monthDiff =
        today.getMonth() -
        birthDate.getMonth();

    if(monthDiff < 0 ||
       (monthDiff === 0 &&
        today.getDate() < birthDate.getDate())) {

        age--;
    }

    document.getElementById("age").value = age;

    if(age < 6) {

        alert("Bus Pass is available only for students/passengers above 6 years.");

        document.getElementById("dob").value = "";
        document.getElementById("age").value = "";
    }
}
	function updateBranches(){

    let spec =
        document.getElementById("specification").value;

    let branch =
        document.getElementById("branch");

    branch.innerHTML = "";

    if(spec === "UG"){

        branch.innerHTML += "<option value='B.Sc'>B.Sc</option>";
        branch.innerHTML += "<option value='B.Com'>B.Com</option>";
        branch.innerHTML += "<option value='BBA'>BBA</option>";
        branch.innerHTML += "<option value='BA'>BA</option>";

    }else if(spec === "PG"){

        branch.innerHTML += "<option value='MCA'>MCA</option>";
        branch.innerHTML += "<option value='MBA'>MBA</option>";
        branch.innerHTML += "<option value='M.Sc'>M.Sc</option>";
        branch.innerHTML += "<option value='M.Com'>M.Com</option>";

    }else if(spec === "BTECH"){

        branch.innerHTML += "<option value='CSE'>CSE</option>";
        branch.innerHTML += "<option value='ECE'>ECE</option>";
        branch.innerHTML += "<option value='EEE'>EEE</option>";
        branch.innerHTML += "<option value='IT'>IT</option>";
        branch.innerHTML += "<option value='MECH'>MECH</option>";
        branch.innerHTML += "<option value='CIVIL'>CIVIL</option>";
    }
}function toggleInstitutionFields() {

	    let type =
	        document.getElementById(
	            "institutionType").value;

	    if(type === "College") {

	        document.getElementById(
	            "collegeFields").style.display = "block";

	        document.getElementById(
	            "schoolFields").style.display = "none";

	    } else {

	        document.getElementById(
	            "collegeFields").style.display = "none";

	        document.getElementById(
	            "schoolFields").style.display = "block";
	    }
	}

	window.onload = function() {

	    toggleFields();

	    toggleInstitutionFields();

	    updateBranches();
	};
</script>
</head>

<body>
	<div class="container">

<h1>Online Bus Pass Registration</h1>

<form action="/register" method="post" enctype="multipart/form-data">
	 <div class="form-row"> <div class="form-group">
		 <label>Name : <span class="required">*</span></label> 
		 <input type="text" name="name" required> </div> 
		 <div class="form-group">
			 <label>Date of Birth : <span class="required">*</span></label>
			  <input type="date" id="dob" name="dateOfBirth" onchange="calculateAge()" required>
			   </div> 
		   </div>
		    <div class="form-row"> 
				<div class="form-group"> 
					<label>Age : <span class="required">*</span></label> 
					<input type="number" id="age" name="age" readonly required> 
				</div> 
				<div class="form-group"> 
					<label>Email : <span class="required">*</span></label>
					 <input type="email" name="email" required>
				  </div> 
			  </div> 
			  <div class="form-row"> 
				<div class="form-group"> 
					<label>Mobile : <span class="required">*</span></label>
					 <input type="tel" name="mobile" pattern="[0-9]{10}" maxlength="10" required> 
				 </div> <div class="form-group">
					 <label>Password : <span class="required">*</span></label> 
					 <div class="password-container"> 
						<input type="password" id="password" name="password" required> <span onclick="togglePassword()">👁️</span> 
						</div>
					 </div>
				  </div> 
				  <div class="form-row"> 
					<div class="form-group"> <label>User Type :</label>
						 <select id="userType" name="userType" onchange="toggleFields()"> 
						 <option value="Student">Student</option> 
						 <option value="Passenger">Passenger</option>
					  </select>
				   </div> 
				   <div class="form-group"> 
					<label>Pass Type :</label> 
					<select name="passType">
						 <option value="Monthly">Monthly</option>
						  <option value="Quarterly">Quarterly</option> 
						  <option value="Half Yearly">Half Yearly</option>
					   </select>
				   </div>
					  <div class="form-row">

    <div class="form-group">
        <label>Photo : <span class="required">*</span></label>

        <input type="file"
               name="photofile"
               accept="image/*"
               required>
    </div>
				 </div>
				  <div id="studentSection">
					 <div class="form-row"> 
						
						<div class="form-group"> <label>Institution Type :</label> 
			   <select id="institutionType" name="institutionType" onchange="toggleInstitutionFields()"> 
			   <option value="School">School</option> 
			   <option value="College">College</option> 
		   </select> 
	   </div>
	    <div class="form-group"> <label>Institution Name :</label>
			 <input type="text" name="institutionName">
		  </div> 
	  </div> 
	  <div class="form-row"> 
		<div class="form-group">
			 <label>Institution Area :</label> 
			 <input type="text" name="institutionArea">
		  </div> 
		  <div class="form-group">
			 <label>Institution Code :</label>
			  <input type="text" name="institutionCode"> 
		  </div> 
	  </div>
	   <div id="schoolFields"> 
		<div class="form-row">
			 <div class="form-group"> <label>Class :</label> 
				<select name="classLevel"> 
					<option value="1st Class">1st Class</option> 
					<option value="2nd Class">2nd Class</option>
					 <option value="3rd Class">3rd Class</option> 
					 <option value="4th Class">4th Class</option> 
					 <option value="5th Class">5th Class</option>
					  <option value="6th Class">6th Class</option> 
					  <option value="7th Class">7th Class</option> 
					  <option value="8th Class">8th Class</option> 
					  <option value="9th Class">9th Class</option> 
					  <option value="10th Class">10th Class</option>
				   </select>
				 <div class="form-group">
        <label>Photo : <span class="required">*</span></label>

        <input type="file"
               name="photofile"
               accept="image/*"
               required>
    </div>
			   </div> 
		   </div> 
	   </div> 
	   <div id="collegeFields" style="display:none;"> 
	   <div class="form-row"> <div class="form-group">
		 <label>Specification :</label>
		  <select id="specification" name="specification" onchange="updateBranches()">
		  
			 <option value="UG">Under Graduation</option> 
			 <option value="PG">Post Graduation</option>
			  <option value="BTECH">B.Tech</option>
		   </select>
	    </div>
		 <div class="form-group"> 
			<label>Branch :</label> 
			<select id="branch" name="branch"> 
				
			</select>
		 </div> 
	 </div> 
	 <div class="form-row">

    <div class="form-group">
        <label>Year :</label>

        <select name="collegeYear">

            <option value="1st Year">1st Year</option>
            <option value="2nd Year">2nd Year</option>
            <option value="3rd Year">3rd Year</option>
            <option value="4th Year">4th Year</option>

        </select>
    </div>
    <div class="form-group">
        <label>Photo : <span class="required">*</span></label>

        <input type="file"
               name="photofile"
               accept="image/*"
               required>
    </div>

</div>
	  </div> 
  </div> 
 <div style="text-align:center;">

    <a href="/login"><b>Already Registered?<b></a>

    &nbsp;

    <a href="/login"><b>Login Here<b></a>

    <br><br>

    <a href="/adminLogin"><b>Admin Login</b></a>

</div>

</body>
</html>
